PORT=
FRONTEND_URL=
COOKIE_DOMAIN=
THROTTLER_LIMIT=
THROTTLER_TTL=
TYPEORM_HOST=
TYPEORM_PORT=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE_DEV=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
ACCESS_TOKEN_EXPIRATION=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRATION=
REFRESH_TOKEN_SECRET=
SALT_WORK_FACTOR=
NODE_ENV=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=
